<!-- Navigation Bar -->
<header>
    <a class="brand" href="/">
        <img src="assets/game_graphics/main_logo.png" alt="Scytheful logo">
        <span>
            Scytheful - Official Site
        </span>
    </a>

    <nav>
        <details>
            <!-- Summary Collapsable Thing-->
            <summary>
                ...
            </summary>

            <a href="/">Home</a>
            <a href="about-the-game">About the Game</a>
            <!-- <a href="download-links">Download Links</a>
            <a href="known-issues">Known Issues</a>
            <a href="future-plans">Future Plans</a> -->
            <a href="contributors">Contributors</a>
        </details>
    </nav>
</header>
<!-- End Navigation Bar -->