<!-- Navigation Bar -->

<style>
    .nav-main_heading
    {
        color: var(--homepage-heading);
    }
    
    .nav-links 
    {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: 30px;
        color: var(--content-text);
    }
</style>

<header>
    <a class="brand" href="/">
        <img src="/assets/game_graphics/main_logo.png" alt="Scytheful logo">
        <span>
            Scytheful - Official Site
        </span>
    </a>

    <nav>
        <!-- all the actual links to click-->
        <a color="var(--content-text)" href="/">Home</a>
        <a color="var(--content-text)" href="/about-the-game">About the Game</a>
        <!-- <a color="var(--content-text)" href="download-links">Download Links</a>
        <a color="var(--content-text)" href="known-issues">Known Issues</a>
        <a color="var(--content-text)" href="future-plans">Future Plans</a> -->
        <a color="var(--content-text)" href="/contributors">Contributors</a>
        <a color="var(--content-text)" href="/future-plans">Future Plans</a>


        <a style="color:var(--context-text); font-weight: bold" href="https://just-call-me-l.itch.io/scytheful-demo"> 
            Download Now!
        </a>


        <!-- SCRAPPED HAMBURGER WIDGET THING LOL -->
        <!-- <details class="nav-links">
            <summary class="nav-main_heading">
                ...
            </summary>
        </details> -->
    </nav>
</header>
<!-- End Navigation Bar -->